<!-- <p>
  У секції немає видимого заголовку. Потрібно зробити прихований заголовок для
  краулерів. Секція також містить описову частину та зображення, яке слід
  реалізувати як контенте. Інформацію про себе, свій досвід і освіту необхідно
  реалізувати за допомогою ul і бібліотеки Accordeon як список елементів, що
  розкриватимуться або закриватимуться по clickу на елемент в залежності від
  його стану. По замовчуванню, перший елемент списку має бути розкритим. Перелік
  навичок необхідно реалізувати за допомогою ul у вигляді горизонтального
  слайдера (https://swiperjs.com/swiper-api). Користувач повинен мати змогу
  взаємодіяти зі слайдером через мишу, клавіатуру (клавіш Tab та стрілок) або
  сенсорний екран. По clickу праворуч (або відповідно до зазначеного напрямку),
  у разі досягнення кінця списку елементів, наступний click повинен знову
  відобразити перший/останній елемент. Така функціональність дозволить
  користувачеві продовжувати переглядати елементи безкінечно, переходячи з
  одного кінця до іншого без переривання.
</p> -->
<section class="aboutme-section" id="aboutme">
  <h2>About me</h2>
  <div class="container">
    <p>
      I work with people all over the world to create impressive and
      <span>functional</span><span>websites</span>that reflect each client's
      unique personality.
    </p>
    <!-- <img src="" alt="" /> -->
  </div>
  <div class="container">
    <h3>About me</h3>
    <div class="container">
      <p>
        I am Lloyd Jefferson, a talented programmer with extensive expertise in
        software development. I have an understanding of different programming
        languages ​​and technologies, always ready to improve my skills. I
        always follow the latest trends and look for unconventional, creative
        solutions to problems. I have a high level of analytical skills and am
        able to effectively solve even the most difficult tasks encountered on
        the way.
      </p>
      <p>
        Able to work both independently and in a team. I can effectively
        cooperate with colleagues, exchanging ideas and finding optimal
        solutions. Professional maturity allows you to calmly cope with
        challenges and stressful situations, while maintaining a high quality of
        work.I am always looking for opportunities for self-improvement. I
        actively study new technologies and practices to stay abreast of the
        latest innovations. I have a strong understanding of various programming
        languages, frameworks and architectural concepts that allow me to create
        efficient and scalable software.
      </p>
      <!-- svg-arrow -->
    </div>
  </div>
  <div class="container">
    <h3>Role</h3>
    <ul>
      <li>Frontend development</li>
      <li>HeadlessCMS,Wordpress</li>
      <li>Blender(enjoy)</li>
    </ul>
    <!-- svg-arrow -->
  </div>
  <div class="container">
    <h3>Education</h3>
    <ul>
      <li>
        2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
      </li>
      <li>
        2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New
        York
      </li>
      <li>2020 - 2022 / Advanced Blender Animation Techniques, Udemy</li>
    </ul>
    <!-- svg-arrow -->
  </div>
  <div class="container">
    <ul>
      <li>HTML/CSS</li>
      <li>JavaScript</li>
      <li>React</li>
      <li>Node.js</li>
      <li>React Native</li>
      <li>Soft skills</li>
      <!-- <li>svg-arrow</li> -->
    </ul>
  </div>
</section>
