<p>
  У секції немає видимого заголовку. Потрібно зробити прихований заголовок для
  краулерів. Секція також містить описову частину та зображення, яке слід
  реалізувати як контенте. Інформацію про себе, свій досвід і освіту необхідно
  реалізувати за допомогою ul і бібліотеки Accordeon як список елементів, що
  розкриватимуться або закриватимуться по clickу на елемент в залежності від
  його стану. По замовчуванню, перший елемент списку має бути розкритим. Перелік
  навичок необхідно реалізувати за допомогою ul у вигляді горизонтального
  слайдера (https://swiperjs.com/swiper-api). Користувач повинен мати змогу
  взаємодіяти зі слайдером через мишу, клавіатуру (клавіш Tab та стрілок) або
  сенсорний екран. По clickу праворуч (або відповідно до зазначеного напрямку),
  у разі досягнення кінця списку елементів, наступний click повинен знову
  відобразити перший/останній елемент. Така функціональність дозволить
  користувачеві продовжувати переглядати елементи безкінечно, переходячи з
  одного кінця до іншого без переривання.
</p>
