<section class="benefits-section section">
        <div class="benefits-container">
        <h2 class="second-heading">Benefits of working with me</h2>
            <ul class="benefits-list list">

                <div class="benefits-div">
                <li class="benefits-list-item">
                   <div class="benefits-icon">
                        <svg class="benefits-list-icon" width="64" height="64" aria-label="icon-art-icon">
                            <use href="/src/img/icons.svg#icon-art-icon"></use>
                        </svg>
                    </div> 
                    <div class="benefits-content-box">
                    <h3 class="benefits-list-title">Expertise</h3>
                    <p class="benefits-list-text">As a highly experienced developer, I have deep knowledge of programming and website development.</p>
                    </div>
                </li>

                <div class="benefits-div">
                <li class="benefits-list-item"> 
                    <div class="benefits-icon">
                        <svg class="benefits-list-icon" width="64" height="64" aria-label="icon-expertise-icon">
                            <use href="/src/img/icons.svg#icon-expertise-icon"></use>
                        </svg>
                    </div>    
                    <h3 class="benefits-list-title">Communication</h3>
                    <p class="benefits-list-text"> Understanding your needs and wants is my priority and I am always open to discussions and corrections.</p>
                    </div>
                </li>

                <div class="benefits-div">
                <li class="benefits-list-item">
                    <div class="benefits-icon">
                        <svg class="benefits-list-icon" width="64" height="64" aria-label="icon-art-icon"> 
                            <use href="/src/img/icons.svg#icon-art-icon"></use>
                        </svg>
                    </div>
                    <h3 class="benefits-list-title">Art</h3>
                    <p class="benefits-list-text">Thanks to my creative nature, I am ready to accept challenges and help you bring your ideas to life.</p>
                    </div>                
                </li>
                <div class="benefits-div">
                <li class="benefits-list-item">
                    <div class="benefits-icon">
                        <svg class="benefits-list-icon" width="64" height="64" aria-label="icon-urgent-icon">
                            <use href="/src/img/icons.svg#icon-art-icon"></use>
                        </svg>
                    </div>
                    <h3 class="benefits-list-title">Urgent execution</h3>
                    <p class="benefits-list-text">I understand how important time is to you. Ready to work quickly and efficiently, without reducing the quality of work.</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="container">
            <button class="button" type="button">Order the project</button>
        </div>
        </section>