<!-- <p>
  У секції немає видимого заголовку. Потрібно зробити прихований заголовок для
  краулерів. Перелік обкладинок необхідно реалізувати за допомогою ul. За
  бажанням команди, перелік можна реалізувати у вигляді рядків, що біжуть
  (приклад). За допомогою JS така анімація має спрацьовувати лише за наявності
  секції "Covers" всередині viewportа користувача. Фон слід реалізувати за
  допомогою фонового зображення формату png (або радіальних градієнтів за
  бажанням команди).
</p> -->
<section class="covers-section">
  <div class="container">
    <div class="covers">
      <ul class="covers-list">
        <li class="covers-list-item">
          <!-- ukranian_traditions -->
          <picture class="covers-list-img">
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/projects/ukranian_traditions_tab@1.jpg,
                ../img/projects/ukranian_traditions_tab@2.jpg
              "
              height="314"
              width="544"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/projects/ukranian_traditions_desk@1.jpg 1x,
                ../img/projects/ukranian_traditions_desk@2.jpg 2x
              "
              height="314"
              width="544"
            />
            <img
              src="../img/projects/ukranian_traditions_mob@1.jpg
                "
              class="covers-list-img"
              height="162"
              width="282"
            />
          </picture>
        </li>
        <li class="covers-list-item">
          <!-- chego -->
          <picture class="covers-list-img">
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/projects/chego_tab@1.jpg,
                ../img/projects/chego_tab@2.jpg
              "
              height="314"
              width="544"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/projects/chego_desk@1.jpg 1x,
                ../img/projects/chego_desk@2.jpg 2x
              "
              height="314"
              width="544"
            />
            <img
              src="../img/projects/chego_mob@1.jpg
                "
              class="covers-list-img"
              height="162"
              width="282"
            />
          </picture>
        </li>
        <li class="covers-list-item">
          <!-- mimino -->
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/projects/mimino_tab@1.jpg,
                ../img/projects/mimino_tab@2.jpg
              "
              height="314"
              width="544"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/projects/mimino_desk@1.jpg 1x,
                ../img/projects/mimino_desk@2.jpg 2x
              "
              height="314"
              width="544"
            />
            <img
              src="../img/projects/mimino_mob@1.jpg
                "
              class="covers-list-img"
              height="162"
              width="282"
            />
          </picture>
        </li>
        <li class="covers-list-item">
          <!-- energy_flow_ -->
          <picture class="covers-list-img">
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/projects/energy_flow_tab@1.jpg,
                ../img/projects/energy_flow_tab@2.jpg
              "
              height="314"
              width="544"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/projects/energy_flow_desk@1.jpg 1x,
                ../img/projects/energy_flow_desk@2.jpg 2x
              "
              height="314"
              width="544"
            />
            <img
              src="../img/projects/energy_flow_mob@1.jpg
                "
              class="covers-list-img"
              height="162"
              width="282"
            />
          </picture>
        </li>
        <li class="covers-list-item">
          <!-- green_harvest_ -->
          <picture class="covers-list-img">
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/projects/green_harvest_tab@1.jpg,
                ../img/projects/green_harvest_tab@2.jpg
              "
              height="314"
              width="544"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/projects/green_harvest_desk@1.jpg 1x,
                ../img/projects/green_harvest_desk@2.jpg 2x
              "
              height="314"
              width="544"
            />
            <img
              src="../img/projects/green_harvest_mob@1.jpg
                "
              class="covers-list-img"
              height="162"
              width="282"
            />
          </picture>
        </li>
        <li class="covers-list-item">
          <!-- englishexellence -->
          <picture class="covers-list-img">
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/projects/englishexellence_tab@1.jpg,
                ../img/projects/englishexellence_tab@2.jpg
              "
              height="314"
              width="544"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/projects/englishexellence_desk@1.jpg 1x,
                ../img/projects/englishexellence_desk@2.jpg 2x
              "
              height="314"
              width="544"
            />
            <img
              src="../img/projects/englishexellence_mob@1.jpg
                "
              class="covers-list-img"
              height="162"
              width="282"
            />
          </picture>
        </li>
        <li class="covers-list-item">
          <!-- power_pulse -->
          <picture class="covers-list-img">
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/projects/power_pulse_tab@1.jpg,
                ../img/projects/power_pulse_tab@2.jpg
              "
              height="314"
              width="544"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/projects/power_pulse_desk@1.jpg 1x,
                ../img/projects/power_pulse_desk@2.jpg 2x
              "
              height="314"
              width="544"
            />
            <img
              src="../img/projects/power_pulse_mob@1.jpg
                "
              class="covers-list-img"
              height="162"
              width="282"
            />
          </picture>
        </li>
        <li class="covers-list-item">
          <!-- starlight_studio -->
          <picture class="covers-list-img">
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/projects/starlight_studio_tab@1.jpg,
                ../img/projects/starlight_studio_tab@2.jpg
              "
              height="314"
              width="544"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/projects/starlight_studio_desk@1.jpg 1x,
                ../img/projects/starlight_studio_desk@2.jpg 2x
              "
              height="314"
              width="544"
            />
            <img
              src="../img/projects/starlight_studio_mob@1.jpg
                "
              class="covers-list-img"
              height="162"
              width="282"
            />
          </picture>
        </li>
        <li class="covers-list-item">
          <!-- wallet_desk -->
          <picture class="covers-list-img">
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/projects/wallet_desk_tab@1.jpg,
                ../img/projects/wallet_desk_tab@2.jpg
              "
              height="314"
              width="544"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/projects/wallet_desk_desk@1.jpg 1x,
                ../img/projects/wallet_desk_desk@2.jpg 2x
              "
              height="314"
              width="544"
            />
            <img
              src="../img/projects/wallet_desk_mob@1.jpg
                "
              class="covers-list-img"
              height="162"
              width="282"
            />
          </picture>
        </li>
      </ul>
      <!-- secotd========================================================================== -->
      <ul class="covers-list">
        <li class="covers-list-item">
          <!-- ukranian_traditions -->
          <picture class="covers-list-img">
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/projects/ukranian_traditions_tab@1.jpg,
                ../img/projects/ukranian_traditions_tab@2.jpg
              "
              height="314"
              width="544"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/projects/ukranian_traditions_desk@1.jpg 1x,
                ../img/projects/ukranian_traditions_desk@2.jpg 2x
              "
              height="314"
              width="544"
            />
            <img
              src="../img/projects/ukranian_traditions_mob@1.jpg
                "
              class="covers-list-img"
              height="162"
              width="282"
            />
          </picture>
        </li>
        <li class="covers-list-item">
          <!-- chego -->
          <picture class="covers-list-img">
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/projects/chego_tab@1.jpg,
                ../img/projects/chego_tab@2.jpg
              "
              height="314"
              width="544"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/projects/chego_desk@1.jpg 1x,
                ../img/projects/chego_desk@2.jpg 2x
              "
              height="314"
              width="544"
            />
            <img
              src="../img/projects/chego_mob@1.jpg
                "
              class="covers-list-img"
              height="162"
              width="282"
            />
          </picture>
        </li>
        <li class="covers-list-item">
          <!-- mimino -->
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/projects/mimino_tab@1.jpg,
                ../img/projects/mimino_tab@2.jpg
              "
              height="314"
              width="544"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/projects/mimino_desk@1.jpg 1x,
                ../img/projects/mimino_desk@2.jpg 2x
              "
              height="314"
              width="544"
            />
            <img
              src="../img/projects/mimino_mob@1.jpg
                "
              class="covers-list-img"
              height="162"
              width="282"
            />
          </picture>
        </li>
        <li class="covers-list-item">
          <!-- energy_flow_ -->
          <picture class="covers-list-img">
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/projects/energy_flow_tab@1.jpg,
                ../img/projects/energy_flow_tab@2.jpg
              "
              height="314"
              width="544"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/projects/energy_flow_desk@1.jpg 1x,
                ../img/projects/energy_flow_desk@2.jpg 2x
              "
              height="314"
              width="544"
            />
            <img
              src="../img/projects/energy_flow_mob@1.jpg
                "
              class="covers-list-img"
              height="162"
              width="282"
            />
          </picture>
        </li>
        <li class="covers-list-item">
          <!-- green_harvest_ -->
          <picture class="covers-list-img">
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/projects/green_harvest_tab@1.jpg,
                ../img/projects/green_harvest_tab@2.jpg
              "
              height="314"
              width="544"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/projects/green_harvest_desk@1.jpg 1x,
                ../img/projects/green_harvest_desk@2.jpg 2x
              "
              height="314"
              width="544"
            />
            <img
              src="../img/projects/green_harvest_mob@1.jpg
                "
              class="covers-list-img"
              height="162"
              width="282"
            />
          </picture>
        </li>
        <li class="covers-list-item">
          <!-- englishexellence -->
          <picture class="covers-list-img">
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/projects/englishexellence_tab@1.jpg,
                ../img/projects/englishexellence_tab@2.jpg
              "
              height="314"
              width="544"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/projects/englishexellence_desk@1.jpg 1x,
                ../img/projects/englishexellence_desk@2.jpg 2x
              "
              height="314"
              width="544"
            />
            <img
              src="../img/projects/englishexellence_mob@1.jpg
                "
              class="covers-list-img"
              height="162"
              width="282"
            />
          </picture>
        </li>
        <li class="covers-list-item">
          <!-- power_pulse -->
          <picture class="covers-list-img">
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/projects/power_pulse_tab@1.jpg,
                ../img/projects/power_pulse_tab@2.jpg
              "
              height="314"
              width="544"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/projects/power_pulse_desk@1.jpg 1x,
                ../img/projects/power_pulse_desk@2.jpg 2x
              "
              height="314"
              width="544"
            />
            <img
              src="../img/projects/power_pulse_mob@1.jpg
                "
              class="covers-list-img"
              height="162"
              width="282"
            />
          </picture>
        </li>
        <li class="covers-list-item">
          <!-- starlight_studio -->
          <picture class="covers-list-img">
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/projects/starlight_studio_tab@1.jpg,
                ../img/projects/starlight_studio_tab@2.jpg
              "
              height="314"
              width="544"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/projects/starlight_studio_desk@1.jpg 1x,
                ../img/projects/starlight_studio_desk@2.jpg 2x
              "
              height="314"
              width="544"
            />
            <img
              src="../img/projects/starlight_studio_mob@1.jpg
                "
              class="covers-list-img"
              height="162"
              width="282"
            />
          </picture>
        </li>
        <li class="covers-list-item">
          <!-- wallet_desk -->
          <picture class="covers-list-img">
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/projects/wallet_desk_tab@1.jpg,
                ../img/projects/wallet_desk_tab@2.jpg
              "
              height="314"
              width="544"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/projects/wallet_desk_desk@1.jpg 1x,
                ../img/projects/wallet_desk_desk@2.jpg 2x
              "
              height="314"
              width="544"
            />
            <img
              src="../img/projects/wallet_desk_mob@1.jpg
                "
              class="covers-list-img"
              height="162"
              width="282"
            />
          </picture>
        </li>
      </ul>
      <!-- third============================================================================================================================================== -->
      <ul class="covers-list">
        <li class="covers-list-item">
          <!-- ukranian_traditions -->
          <picture class="covers-list-img">
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/projects/ukranian_traditions_tab@1.jpg,
                ../img/projects/ukranian_traditions_tab@2.jpg
              "
              height="314"
              width="544"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/projects/ukranian_traditions_desk@1.jpg 1x,
                ../img/projects/ukranian_traditions_desk@2.jpg 2x
              "
              height="314"
              width="544"
            />
            <img
              src="../img/projects/ukranian_traditions_mob@1.jpg
                "
              class="covers-list-img"
              height="162"
              width="282"
            />
          </picture>
        </li>
        <li class="covers-list-item">
          <!-- chego -->
          <picture class="covers-list-img">
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/projects/chego_tab@1.jpg,
                ../img/projects/chego_tab@2.jpg
              "
              height="314"
              width="544"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/projects/chego_desk@1.jpg 1x,
                ../img/projects/chego_desk@2.jpg 2x
              "
              height="314"
              width="544"
            />
            <img
              src="../img/projects/chego_mob@1.jpg
                "
              class="covers-list-img"
              height="162"
              width="282"
            />
          </picture>
        </li>
        <li class="covers-list-item">
          <!-- mimino -->
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/projects/mimino_tab@1.jpg,
                ../img/projects/mimino_tab@2.jpg
              "
              height="314"
              width="544"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/projects/mimino_desk@1.jpg 1x,
                ../img/projects/mimino_desk@2.jpg 2x
              "
              height="314"
              width="544"
            />
            <img
              src="../img/projects/mimino_mob@1.jpg
                "
              class="covers-list-img"
              height="162"
              width="282"
            />
          </picture>
        </li>
        <li class="covers-list-item">
          <!-- energy_flow_ -->
          <picture class="covers-list-img">
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/projects/energy_flow_tab@1.jpg,
                ../img/projects/energy_flow_tab@2.jpg
              "
              height="314"
              width="544"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/projects/energy_flow_desk@1.jpg 1x,
                ../img/projects/energy_flow_desk@2.jpg 2x
              "
              height="314"
              width="544"
            />
            <img
              src="../img/projects/energy_flow_mob@1.jpg
                "
              class="covers-list-img"
              height="162"
              width="282"
            />
          </picture>
        </li>
        <li class="covers-list-item">
          <!-- green_harvest_ -->
          <picture class="covers-list-img">
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/projects/green_harvest_tab@1.jpg,
                ../img/projects/green_harvest_tab@2.jpg
              "
              height="314"
              width="544"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/projects/green_harvest_desk@1.jpg 1x,
                ../img/projects/green_harvest_desk@2.jpg 2x
              "
              height="314"
              width="544"
            />
            <img
              src="../img/projects/green_harvest_mob@1.jpg
                "
              class="covers-list-img"
              height="162"
              width="282"
            />
          </picture>
        </li>
        <li class="covers-list-item">
          <!-- englishexellence -->
          <picture class="covers-list-img">
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/projects/englishexellence_tab@1.jpg,
                ../img/projects/englishexellence_tab@2.jpg
              "
              height="314"
              width="544"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/projects/englishexellence_desk@1.jpg 1x,
                ../img/projects/englishexellence_desk@2.jpg 2x
              "
              height="314"
              width="544"
            />
            <img
              src="../img/projects/englishexellence_mob@1.jpg
                "
              class="covers-list-img"
              height="162"
              width="282"
            />
          </picture>
        </li>
        <li class="covers-list-item">
          <!-- power_pulse -->
          <picture class="covers-list-img">
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/projects/power_pulse_tab@1.jpg,
                ../img/projects/power_pulse_tab@2.jpg
              "
              height="314"
              width="544"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/projects/power_pulse_desk@1.jpg 1x,
                ../img/projects/power_pulse_desk@2.jpg 2x
              "
              height="314"
              width="544"
            />
            <img
              src="../img/projects/power_pulse_mob@1.jpg
                "
              class="covers-list-img"
              height="162"
              width="282"
            />
          </picture>
        </li>
        <li class="covers-list-item">
          <!-- starlight_studio -->
          <picture class="covers-list-img">
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/projects/starlight_studio_tab@1.jpg,
                ../img/projects/starlight_studio_tab@2.jpg
              "
              height="314"
              width="544"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/projects/starlight_studio_desk@1.jpg 1x,
                ../img/projects/starlight_studio_desk@2.jpg 2x
              "
              height="314"
              width="544"
            />
            <img
              src="../img/projects/starlight_studio_mob@1.jpg
                "
              class="covers-list-img"
              height="162"
              width="282"
            />
          </picture>
        </li>
        <li class="covers-list-item">
          <!-- wallet_desk -->
          <picture class="covers-list-img">
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/projects/wallet_desk_tab@1.jpg,
                ../img/projects/wallet_desk_tab@2.jpg
              "
              height="314"
              width="544"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/projects/wallet_desk_desk@1.jpg 1x,
                ../img/projects/wallet_desk_desk@2.jpg 2x
              "
              height="314"
              width="544"
            />
            <img
              src="../img/projects/wallet_desk_mob@1.jpg
                "
              class="covers-list-img"
              height="162"
              width="282"
            />
          </picture>
        </li>
      </ul>
      <!-- ============== fourth ====================================================== -->
      <ul class="covers-list">
        <li class="covers-list-item">
          <!-- ukranian_traditions -->
          <picture class="covers-list-img">
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/projects/ukranian_traditions_tab@1.jpg,
                ../img/projects/ukranian_traditions_tab@2.jpg
              "
              height="314"
              width="544"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/projects/ukranian_traditions_desk@1.jpg 1x,
                ../img/projects/ukranian_traditions_desk@2.jpg 2x
              "
              height="314"
              width="544"
            />
            <img
              src="../img/projects/ukranian_traditions_mob@1.jpg
                "
              class="covers-list-img"
              height="162"
              width="282"
            />
          </picture>
        </li>
        <li class="covers-list-item">
          <!-- chego -->
          <picture class="covers-list-img">
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/projects/chego_tab@1.jpg,
                ../img/projects/chego_tab@2.jpg
              "
              height="314"
              width="544"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/projects/chego_desk@1.jpg 1x,
                ../img/projects/chego_desk@2.jpg 2x
              "
              height="314"
              width="544"
            />
            <img
              src="../img/projects/chego_mob@1.jpg
                "
              class="covers-list-img"
              height="162"
              width="282"
            />
          </picture>
        </li>
        <li class="covers-list-item">
          <!-- mimino -->
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/projects/mimino_tab@1.jpg,
                ../img/projects/mimino_tab@2.jpg
              "
              height="314"
              width="544"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/projects/mimino_desk@1.jpg 1x,
                ../img/projects/mimino_desk@2.jpg 2x
              "
              height="314"
              width="544"
            />
            <img
              src="../img/projects/mimino_mob@1.jpg
                "
              class="covers-list-img"
              height="162"
              width="282"
            />
          </picture>
        </li>
        <li class="covers-list-item">
          <!-- energy_flow_ -->
          <picture class="covers-list-img">
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/projects/energy_flow_tab@1.jpg,
                ../img/projects/energy_flow_tab@2.jpg
              "
              height="314"
              width="544"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/projects/energy_flow_desk@1.jpg 1x,
                ../img/projects/energy_flow_desk@2.jpg 2x
              "
              height="314"
              width="544"
            />
            <img
              src="../img/projects/energy_flow_mob@1.jpg
                "
              class="covers-list-img"
              height="162"
              width="282"
            />
          </picture>
        </li>
        <li class="covers-list-item">
          <!-- green_harvest_ -->
          <picture class="covers-list-img">
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/projects/green_harvest_tab@1.jpg,
                ../img/projects/green_harvest_tab@2.jpg
              "
              height="314"
              width="544"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/projects/green_harvest_desk@1.jpg 1x,
                ../img/projects/green_harvest_desk@2.jpg 2x
              "
              height="314"
              width="544"
            />
            <img
              src="../img/projects/green_harvest_mob@1.jpg
                "
              class="covers-list-img"
              height="162"
              width="282"
            />
          </picture>
        </li>
        <li class="covers-list-item">
          <!-- englishexellence -->
          <picture class="covers-list-img">
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/projects/englishexellence_tab@1.jpg,
                ../img/projects/englishexellence_tab@2.jpg
              "
              height="314"
              width="544"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/projects/englishexellence_desk@1.jpg 1x,
                ../img/projects/englishexellence_desk@2.jpg 2x
              "
              height="314"
              width="544"
            />
            <img
              src="../img/projects/englishexellence_mob@1.jpg
                "
              class="covers-list-img"
              height="162"
              width="282"
            />
          </picture>
        </li>
        <li class="covers-list-item">
          <!-- power_pulse -->
          <picture class="covers-list-img">
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/projects/power_pulse_tab@1.jpg,
                ../img/projects/power_pulse_tab@2.jpg
              "
              height="314"
              width="544"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/projects/power_pulse_desk@1.jpg 1x,
                ../img/projects/power_pulse_desk@2.jpg 2x
              "
              height="314"
              width="544"
            />
            <img
              src="../img/projects/power_pulse_mob@1.jpg
                "
              class="covers-list-img"
              height="162"
              width="282"
            />
          </picture>
        </li>
        <li class="covers-list-item">
          <!-- starlight_studio -->
          <picture class="covers-list-img">
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/projects/starlight_studio_tab@1.jpg,
                ../img/projects/starlight_studio_tab@2.jpg
              "
              height="314"
              width="544"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/projects/starlight_studio_desk@1.jpg 1x,
                ../img/projects/starlight_studio_desk@2.jpg 2x
              "
              height="314"
              width="544"
            />
            <img
              src="../img/projects/starlight_studio_mob@1.jpg
                "
              class="covers-list-img"
              height="162"
              width="282"
            />
          </picture>
        </li>
        <li class="covers-list-item">
          <!-- wallet_desk -->
          <picture class="covers-list-img">
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/projects/wallet_desk_tab@1.jpg,
                ../img/projects/wallet_desk_tab@2.jpg
              "
              height="314"
              width="544"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/projects/wallet_desk_desk@1.jpg 1x,
                ../img/projects/wallet_desk_desk@2.jpg 2x
              "
              height="314"
              width="544"
            />
            <img
              src="../img/projects/wallet_desk_mob@1.jpg
                "
              class="covers-list-img"
              height="162"
              width="282"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
