<p>
  У секції немає видимого заголовку. Потрібно зробити прихований заголовок для
  краулерів. Перелік обкладинок необхідно реалізувати за допомогою ul. За
  бажанням команди, перелік можна реалізувати у вигляді рядків, що біжуть
  (приклад). За допомогою JS така анімація має спрацьовувати лише за наявності
  секції "Covers" всередині viewportа користувача. Фон слід реалізувати за
  допомогою фонового зображення формату png (або радіальних градієнтів за
  бажанням команди).
</p>
<section class="covers-section">
  <div class="container"></div>
</section>
