<header class="header">
  <p>
    В Header-і знаходиться logo, навігація по сайту та посилання "Order the
    project" Logo складається з контентного зображення та напису Навігація по
    сайту для планшетних і десктопних пристроїв має зʼявлятись і приховуватись
    по clickу на Menu, як на прикладі, і має бути реалізована якірними
    посиланнями, які ведуть до відповідних секцій сайту з застосуванням
    повільного скролу. "Order the project" має перенаправляти користувача до
    секції Work together. "Для мобільних пристроїв навігація по сайту має бути
    розміщена в меню, взаємодія з яким має бути реалізована за допомогою JS. По
    clickу на кнопку-іконку з бургер-меню, меню має плавно зʼявитися і заповнити
    всю ширину та висоту в'юпорту пристрою користувача. У разі clickу по
    елементу навігації, користувача слід перенаправити до відповідної секції
    сайту і закрити меню. Меню також можна закрити по clickу на кнопку-іконку
    закриття." Header має прозорий фон і має бути спозиціоновано через absolute
    поверх секції Hero.
  </p>
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="./page-2.html" class="nav-link">Page 2</a>
      </li>

      <li class="nav-item">
        <a href="./page-3.html" class="nav-link">Page 3</a>
      </li>
    </ul>
  </nav>
</header>
