<header class="header">
  <nav class="nav">
    <a href=""><img src="" alt="" /></a>
    <ul class="nav-list">
      <a href="">Menu</a>
      <li class="nav-item">
        <a href="#aboutme" class="nav-link">About me</a>
      </li>
      <li class="nav-item">
        <a href="#benefits" class="nav-link">Benefits</a>
      </li>
      <li class="nav-item">
        <a href="#projects" class="nav-link">Projects</a>
      </li>
      <li class="nav-item">
        <a href="#faq" class="nav-link">FAQ</a>
      </li>
    </ul>
    <a class="nav-btn" href="#work-together">Order the project</a>
  </nav>
</header>
