<section class="hero">
   <div class="hero-content">
     <h1>Hello. I’m Fullstack developer Lloyd Jefferson.</h1>
     <ul class="social-links">
       <li><a href="https://www.instagram.com/goitclub/" target="_blank">Instagram</a></li>
       <li><a href="https://www.youtube.com/c/GoIT" target="_blank">YouTube</a></li>
       <li><a href="https://www.facebook.com/goITclub/" target="_blank">Facebook</a></li>
       <li><a href="https://github.com/goitclub" target="_blank">GitHub</a></li>
     </ul>
     <a href="mailto:example@example.com" class="contact-email">example@example.com</a>
   </div>
 </section>
 