<p>Текст “Hello. I’m Fullstack developer Lloyd Jefferson.” є головним заголовком сайту	ЛОЖЬ																								
"Секція також містить 
- перелік посилань на соц. мережі, який має бути реалізований як список елементів за допомогою <ul>, що відкриватимуть у новій вкладці сторінку GoIT відповідної соц. мережі: 
   Instagram - https://www.instagram.com/goitclub/  
   YouTube - https://www.youtube.com/c/GoIT  
   Facebook - https://www.facebook.com/goITclub/   
   GitHub - посилання на проєкт команди, розміщений на GitHub
- контактний email, який необхідно реалізувати за допомогою протоколів посилання"	ЛОЖЬ																								
Фон слід реалізувати з використанням фонового зображення формату png. 	ЛОЖЬ																								
</p>
<section class="hero-section">
<div class="container"></div>
</section>