<section class="hero">
  <div class="container hero-content">
    <div class="hero-title-container">
      <h1>
        Hello.<br />
        I&#697;m Fullstack developer<br />
        Lloyd Jefferson.
      </h1>
      <div class="buttons-container">
        <ul class="social-links">
          <li>
            <a href="https://www.instagram.com/goitclub/" target="_blank">IT</a>
          </li>
          <li>
            <a href="https://www.facebook.com/goITclub/" target="_blank">FB</a>
          </li>
          <li>
            <a href="https://www.youtube.com/c/GoIT" target="_blank">YT</a>
          </li>
          <li><a href="https://github.com/goitclub" target="_blank">GH</a></li>
          <li>
            <a href="mailto:example@example.com" class="contact-email"
              >example@example.com</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <picture class="hero-background">
    <source
      media="(min-width: 1440px)"
      srcset="./img/hero/hero_desktop@1x.png, ./img/hero/hero_desktop@2x.png 2x"
    />
    <source
      media="(min-width: 768px)"
      srcset="./img/hero/hero_tab@1x.png, ../img/hero/hero_tab@2x.png 2x"
    />
    <source
      media="(min-width: 320px) and (max-width: 375px)"
      srcset="./img/hero/hero_mob@1x.png, ../img/hero/hero_mob@2x.png 2x"
    />
    <img
      src="./img/hero/hero_mob@1x.png"
      srcset="./img/hero/hero_mob@2x.png 2x"
      alt="Your Image"
    />
  </picture>
</section>
