<!-- <p>
  Текст “Thank you for your interest in cooperation!" є заголовком модального
  вікна. Модальне вікно також містить описову частину та кнопку-іконку закриття.
  Модальне вікно повинно закриватись по clickу на кнопку-іконку закриття, по
  clickу на backdrop, а також натисканню на клавішу Escape.
</p> -->
<div id="myModal" class="modal">
  <div class="modal-window">
    <button class="close" type="button">
      <svg>
        <use href="../img/icons.svg#close-modal" width="24" height="24"></use>
      </svg>
    </button>
    <div class="modal-content">
      <h2 class="modal-header">Thank you for your interest in cooperation!</h2>

      <p class="modal-dscr">
        The manager will contact you shortly to discuss further details and
        opportunities for cooperation. Please stay in touch.
      </p>
    </div>
  </div>
</div>
