<section class="reviews-section swiper section" id="reviews">
  <div class="reviews-container container">
    <h2 class="reviews-title-h2">REVIEWS</h2>
    <div class="swiper-reviews-wrap swiper" id="reviewsWrapper">
      <ul class="menu-reviews-list-ul swiper-wrapper"></ul>

      <!-- button-arrow-left-right -->
      <div class="swiper-reviews-button-cont disabled-button">
        <div class="reviews-prev-box swiper-button-prev">
          <button type="button" class="round-button left-arrow"></button>
        </div>
        <div class="reviews-next-box swiper-button-next">
          <button type="button" class="round-button right-arrow"></button>
        </div>
      </div>
    </div>
  </div>
</section>
