<section class="reviews-section" id="reviews">
  <div class="swiper-reviews-container container">
    <h2 class="reviews-title-h2">REVIEWS</h2>
    <div class="swiper-reviews-wrap" id="reviewsWrapper">
      <ul class="menu-reviews-list-ul list"></ul>
    </div>

    <!-- button-arrow-left-right -->
    <div class="swiper-reviews-button-cont disabled-button">
      <button type="button" class="round-button left-arrow">
        <svg class="arrow-narrow-left" width="32" height="32">
          <use href="../img/icons.svg#arrow-left"></use>
        </svg>
      </button>
      <button type="button" class="round-button right-arrow">
        <svg class="arrow-narrow-right" width="32" height="32">
          <use href="../img/icons.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
