<section class="reviews-section section" id="reviews">
  <div class="reviews-container container">
    <h2 class="reviews-title-h2">REVIEWS</h2>
    <div class="swiper-reviews-wrap swiper" id="reviewsWrapper">
      <ul class="menu-reviews-list-ul swiper-wrapper"></ul>

      <!-- button-arrow-left-right -->
      <div class="swiper-reviews-button-cont">
        <div class="reviews-prev-box swiper-button-prev disabled-button">
          <svg class="arrow-icon">
            <use xlink:href="./img/icons.svg#arrow-left"></use>
          </svg>
        </div>
        <div class="reviews-next-box swiper-button-next">
          <svg class="arrow-icon">
            <use xlink:href="./img/icons.svg#arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
