<section class="worktogether-section" id="work-together">
  <div class="container">
    <div class="container_title">
      <li>
        <img
          class="nav-img"
          src="../img/projects/header-1x.jpg"
          srcset="
            ../img/projects/header-1x.jpg 1x,
            ../img/projects/header-2x.jpg 2x
          "
          alt="jefferson"
          width="70"
          height="70"
        />
      </li>
      <li>
        <h1 class="title-text">
          Let&#697;s<span class="title-work"> work</span>
        </h1>
      </li>
      <li>
        <p class="title-text">together</p>
      </li>
    </div>
    <form class="footer_form">
      <input
        class="header-input"
        type="email"
        name="email-form"
        id="email-form"
        pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
        required
        placeholder="email"
      />
      <input
        class="header-input"
        type="text"
        name="coment-form"
        id="coment-form"
        required
        placeholder="comments"
      />
      >>>>>>> 91ef1770481b91b0ff1f78dc89c862cc8017b530
      <button type="submit" class="btm-submit">Send</button>
    </form>
    <div class="contact">
      <a class="contact-footer" href="mailto:lloydjefferson@gmail.com"
        >lloydjefferson@gmail.com</a
      >
      <a class="contact-footer" href="tel:+48574773134">+48574773134</a>
    </div>
  </div>
</section>
