<section class="worktogether-section" id="work-together">
  <div class="container footer">
    <div class="container_title">
      <div class="flex">
        <img
          class="nav-img"
          src="./img/logo/logo-image@1.jpg"
          srcset="
            ./img/logo/logo-image@1.jpg 1x,
            ./img/logo/logo-image@2.jpg 2x
          "
          alt="jefferson"
          width="70"
          height="70"
        />
        <h3 class="title-text">
          Le&#8242;s<span class="title-work"> work </span>
        </h3>
      </div>
      <p class="title-text">together</p>
    </div>
    <form class="footer_form">
      <input
        class="header-input input-before"
        type="email"
        name="email-form"
        id="email-form"
        pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
        required
        placeholder="email"
      />
      <input
        class="header-input"
        type="text"
        name="coment-form"
        id="coment-form"
        required
        placeholder="comments"
      />
      <button type="submit" class="btm-submit">Send</button>
    </form>
    <div class="contact">
      <a class="contact-footer" href="mailto:lloydjefferson@gmail.com"
        >lloydjefferson@gmail.com</a
      >
      <a class="contact-footer" href="tel:+48574773134">+48574773134</a>
    </div>
  </div>
</section>
