<!-- <p>
  Текст “Let’s work together" є заголовком секції. "Секція також містить форму,
  що включає обовʼязкові до заповнення елементи input та кнопку “Send"" типу
  submit. Полю для введення електронної пошти слід додати мінімальну валідацію
  введених даних за допомогою атрибуту
  pattern=""^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"". У випадку, коли вміст
  введеного тексту перевищує розмір поля input, відображується тільки обмежена
  кількість символів, а решта тексту позначається трьома крапками (...), що
  показує, що текст був обрізаний. По clickу на кнопку ""Send"" необхідно
  відправити POST запит на сервер про створення заявки щодо співпраці та у разі
  успішного створення - повідомити про це користувача, відкривши відповідне
  модальне вікно, в цьому випадку слід також очистити форму. Якщо з сервера буде
  повернута помилка - користувачеві слід повідомити про це за допомогою
  вспливаючого повідомлення і надати можливість відкорегувати введені значення
  (не очищувати форму) для їх подальшої повторної відправки." Контактний номер
  телефону та email необхідно реалізувати за допомогою протоколів посилання. Фон
  слід реалізувати з використанням фонового зображення формату png.
</p> -->
<section class="worktogether-section" id="work-together">
  <div class="container footer">
    <div class="container_title">
      <div class="flex">
        <img class="nav-img" src="../img/logo/logo-image@1.jpg" srcset="
                    ../img/logo/logo-image@1.jpg 1x,
                    ../img/logo/logo-image@2.jpg 2x
                  " alt="jefferson" width="70" height="70">
        <h3 class="title-text">Let’s<span class="title-work"> work </span></h3>
      </div>
      <p class="title-text">together</p>
    </div>
    <form class="footer_form">
      <input class="header-input"
       type="email"
        name="email-form"
         id="email-form"
        pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
         required 
         placeholder="email">
      <input class="header-input"
       type="text" 
       name="coment-form" 
       id="coment-form" 
       required 
       placeholder="comments">
      <button type="submit" class="btm-submit">Send</button>
    </form>
    <div class="contact">
      <a class="contact-footer" href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
      <a class="contact-footer" href="tel:+48574773134">+48574773134</a>
    </div>

  </div>
</section>