/* work&photo */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.apostrophe {
  content: '\0027';
}

.about-me-work-and-photo {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 16px;
}

.about-me-work {
  padding: 32px 32px 272px 32px;
  border-radius: 24px;
  width: 100%;
  height: 500px;
}

.about-me-work-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.about-me-work-text-red {
  color: #ed3b44;
}

.about-me-work-text-grey {
  color: #fafafa99;
}

.about-me-photo {
  border-radius: 24px;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.about-me-photo .about-me-img {
  object-fit: cover;
}

/* about-me-about */

.about-me-about {
  max-width: 100%;
  padding-top: 16px;
  padding-bottom: 32px;
}

.about-me-about-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-me-about-list .about-me-about-list-item {
  color: inherit;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid 1px rgba(250, 250, 250, 0.4);
  margin: 0px;
}

.about-me-about-header-n-btn {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 36px;
  justify-content: space-between;
  margin: 0px;
}

.about-me-about-header {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fafafa99;
}

.about-me-about-text {
  padding-top: 12px;
  padding-bottom: 20px;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

.about-me-about-text-box {
  padding-bottom: 32px;
}

.about-me-about-role {
  padding-bottom: 10px;
}

.about-me-about-education {
  padding-bottom: 10px;
}
/* skills */
.about-me-skills {
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  height: 130px;
  overflow: visible;
  display: flex;
  gap: 0px;
}

.about-me-swiper-box {
  width: 260px;
  height: 130px;
  margin: 0;
}

.about-me-skillslist {
  display: flex;
  flex-direction: row;
  width: 260px;
  height: 130px;
}

.about-me-skillslist-item {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  margin-right: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
}

.about-me-skillslist-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

/* buttons */
/* .about-me-btn{} */
/* .about-me-arrow-up{} */
/* about-me-arrow-down{} */
