
.faq-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-title {
font-weight: 600;
color: rgba(250, 250, 250, 0.4);
padding-bottom: 52px;

}


.faq-list-item{
    padding-bottom: 20px;
    border: 1px solid rgba(250, 250, 250, 0.6);
    padding: 20px 0;
    border-left: none;
    border-right: none;
    
}

.faq-list-item:first-child{
margin-top: 0;
}

.faq-content {
  display: flex;
  justify-content: space-between;
  
  
}
.faq-question {
display: flex;
font-size: 20px;
justify-content:space-between;
margin-bottom: 16px;
width: 289px;
}
.faq-btn {
/* position: relative; */
/* bottom: 20px; */
border: 1px solid rgba(250, 250, 250, 0.2);
border-radius: 50%;
padding: 7px;
width: 34px;
height: 34px;
background-color: var(--primary-bg-clr);
}
.faq-arrow {
 fill:var(--primary-txt-clr);
 width: 10px;
 height: 10px;
 
}
.faq-answer {
color: rgba(250, 250, 250, 0.6);
/* display: none; */
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .faq-question{
        width: 100%;
    }
}
@media only screen and (min-width: 1200px) {
    .faq-list {
        display: flex;
        flex-wrap: wrap;
       
    }

     .faq-list-item{
        max-width: 100%;
        flex-basis: calc((100% - 24px) / 2);
        border: 1px solid rgba(250, 250, 250, 0.6);
        padding: 30px;
        border-right: none;
    }

       .faq-list-item:nth-child(2n){
        border-right: none;
    }

     .faq-list-item:nth-child(2n + 1){
        border-left: none;
    }

    .faq-question{
        width: 100%;
    }

    /* .faq-list-item:nth-child(2n + 1){
        border-bottom: none;

    } */
}