.hero {
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding-bottom: 100px;
  position: relative;
  height: 812px;
}

.hero-content {
  text-align: center;
  position: absolute;
}

.hero h1 {
  font-family: 'Inter Tight';
  font-size: 50px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: left;
  position: relative; /* Збільшення контексту стека з позиціонуванням */
  z-index: 2; /* Задаємо порядок шару, щоб текст був над фоном */
}

.hero-title-container {
  position: relative;
  background-color: transparent; /* Зробити фон прозорим */
  top: 281px;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1; /* Задаємо порядок шару, щоб фон був позаду тексту */
}

.buttons-container {
  margin-top: 183px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2; /* Задаємо порядок шару, щоб контейнер був над фоном */
}

.social-links{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  z-index: 2; /* Задаємо порядок шару, щоб контейнер був над фоном */
}


.social-links li {
  margin-right: 5px;
}

.social-links li:last-child{
  margin-right: 0;
}

.social-links li a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;
  width: 37px;
  height: 37px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  text-align: center;
}

.contact-email:last-child {
  width: auto;
  padding: 0 20px;
}

/* Стилі для мобільних пристроїв */
@media only screen and (min-width: 320px) and (max-width: 375px) {
  .hero {
    height: 812px; /* Висота для мобільних пристроїв */
    background-position: -268px center; /* Зсув фону вліво на -268px */
  }
}

/* Стилі для планшетів */
@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .hero {
    height: 1024px; /* Висота для планшетів */
    background-position: -147px center; /* Зсув фону вліво на -147px */
  }
  .hero h1 {
    font-size: 90px;
  }
  .hero-title-container {
    top: 300px;
  }

  .buttons-container{
 justify-content: flex-end;
  }
}

/* Стилі для десктопів */
@media only screen and (min-width: 1440px) {
  .hero {
    height: 900px;/* Висота для десктопів */
    background-position: 0 center; /* Фон притиснутий до лівого краю */
  }
  .hero h1 {
    width: 1084px;

    font-size: 90px;
  }
  .hero-title-container {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2; /* Задаємо вищий порядок шару для заголовка */
    top: 300px;
  }
  .buttons-container {
    margin-bottom: 243px;

    justify-content: flex-end;
    z-index: 2; /* Задаємо вищий порядок шару для контейнера з кнопками */
  }
}
