.hero {
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding-bottom: 100px;
  position: relative;
  height: 812px;
}

.hero-content {
  text-align: center;
  position: absolute;
  
}

.hero h1 {
  font-family: 'Inter Tight';
  font-size: 50px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: left; /* Змінено на ліве вирівнювання */
}

.hero-title-container {
  position: relative;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  left: 0;
  right: 0;
  top: 300px;
}



.social-links,
.email-container {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.social-links li,
.email-container {
  margin-right: 5px;
}

.social-links li:last-child,
.email-container {
  margin-right: 0;
}

.social-links li a,
.contact-email {
  display: inline-flex; /* Змінився дисплей на inline-flex */
  justify-content: center; /* Вирівнюємо по горизонталі по центру */
  align-items: center; /* Вирівнюємо по вертикалі по центру */
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;
  width: 37px;
  height: 37px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  text-align: center; /* Для випадку, якщо текст перенесеться на декілька рядків */
}



.contact-email {
  display: inline-flex;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;
  width: 178px;
  height: 37px;
  transition: background-color 0.3s ease;
  margin-left: 5px;
  max-width: 200px;
}

.contact-email a {
  display: inline-block;
  line-height: 37px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.contact-email:last-child {
  width: auto;
  padding: 0 20px;
}

/* Стилі для мобільних пристроїв */
@media only screen and (min-width: 320px) and (max-width: 375px) {
  .hero {
    background-image: url('/src/img/hero/hero_mob@1x.jpg');
  }
}

/* Стилі для ретіна-дисплеїв мобільних пристроїв */
@media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
  .hero {
    background-image: url('/src/img/hero/hero_mob@2x.jpg');
  }
}

/* Стилі для планшетів */
@media only screen and (min-width: 768px) {
  .hero {
    background-image: url('/src/img/hero/hero_tab@1x.jpg');
  }
  .buttons-container {
    justify-content: flex-end;
  }
}

/* Стилі для ретіна-дисплеїв планшетів */
@media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
  .hero {
    background-image: url('/src/img/hero/hero_tab@2x.jpg');
  }
}

/* Стилі для десктопів */
@media only screen and (min-width: 1440px) {
  .hero {
    background-image: url('/src/img/hero/hero_desktop@1x.jpg');
  }
  .hero h1 {
    text-align: left; /* Повертаємо вирівнювання заголовку по лівому краю */
  }
  .hero-content {
    width: 50%; /* Встановлюємо ширину контейнера */
    left: 25%; /* Вирівнюємо контейнер по центру */
    text-align: left; /* Залишаємо текст притиснутим до лівого краю */
  }
}

/* Стилі для ретіна-дисплеїв десктопів */
@media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
  .hero {
    background-image: url('/src/img/hero/hero_desktop@2x.jpg');
  }
}