.section-container {
  background-color: #1c1d20;

  display: flex;
  flex-direction: column;
}
ul {
  list-style: none;
  padding: 0%;
}
/* Для мобільних пристроїв з шириною від 320px до 375px */
@media screen and (min-width: 320px) and (max-width: 375px) {
  .swiping-page {
    border-radius: 3%;
  }
  .swiper-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(250, 250, 250, 1);

    width: 86%;
    height: 90vh;
    border-radius: 3%;
  }
  .swiper-slide {
    background-color: rgba(250, 250, 250, 1);
    border-radius: 3%;
  }

  .projects-title {
    font-family: Inter Tight;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(250, 250, 250, 0.4);
  }

  .develop-content-icons {
    box-sizing: border-box;
    margin-left: 32px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 92%;
    padding-top: 32px;

    align-content: center;
    gap: 6px;
  }
  .develop-content-icons-item {
    display: inline-block;
    align-content: center;
    justify-content: center;
    width: auto;
    height: auto;
    border: 1px solid rgba(28, 29, 32, 0.2);
    padding: 13px 18px 13px 18px;
    gap: 10px;

    font-family: Inter Tight;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    letter-spacing: -0.02em;
    text-align: left;

    opacity: 0px;

    border-radius: 60px;
  }
  .project-number {
    display: none;
  }
  .cross-border-programming {
    box-sizing: border-box;
    margin-left: 32px;
    margin-right: 38px;
    margin-top: 96px;
    margin-bottom: 10%;
    padding-right: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 92%;

    align-content: center;

    font-family: Inter Tight;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.03em;
    text-align: left;
    color: rgba(28, 29, 32, 1);
  }
  .see-project-button {
    display: inline-block;
    align-content: center;
    justify-content: center;
    width: auto;
    height: auto;

    padding: 13px 32px 13px 32px;
    gap: 10px;
    border: none;
    background-color: rgba(237, 59, 68, 1);
    color: rgba(250, 250, 250, 1);
    font-family: Inter Tight;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    letter-spacing: -0.02em;
    text-align: left;

    opacity: 0px;

    border-radius: 60px;
    margin-left: 32px;

    margin-bottom: 10%;
  }
  .project-picture-container {
    background-color: rgba(36, 37, 39, 1);
    border: 1px solid rgba(36, 37, 39, 1);
    height: 100%;
    margin-bottom: 10%;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom-left-radius: 3%; /* Заокруглюємо лівий нижній кут */
    border-bottom-right-radius: 3%;
  }
  .project-picture {
    width: 100%;
  }
  .swiper-buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 32px;
  }
  .swiper-button-prev {
    width: 52px;
    height: 52px;
    border-radius: 60px;
    border: 1px solid rgba(250, 250, 250, 1);
    background-color: rgba(28, 29, 32, 1);
    color: rgba(250, 250, 250, 1);
  }
  .swiper-button-next {
    width: 52px;
    height: 52px;
    border-radius: 60px;
    border: 1px solid rgba(250, 250, 250, 1);
    background-color: rgba(28, 29, 32, 1);
    color: rgba(250, 250, 250, 1);
  }
}
/* Для екранів з шириною від 375px до 768px */
@media screen and (min-width: 375px) and (max-width: 768px) {
  /* Ваші стилі тут */
}

/* Для планшетів з шириною від 768px */
@media screen and (min-width: 768px) {
  /* Ваші стилі тут */
}

/* Для настільних комп'ютерів з шириною від 1440px */
@media screen and (min-width: 1440px) {
  /* Ваші стилі тут */
}
