.projects-section-container {
  background-color: #1c1d20;

  display: flex;
  flex-direction: column;
}
ul {
  list-style: none;
  padding: 0;
}
/* Для мобільних пристроїв з шириною від 320px до 375px */
@media screen and (min-width: 320px) and (max-width: 375px) {
  .swiping-page {
    border-radius: 3%;
    background-color: rgba(250, 250, 250, 1);
  }

  .projects-title {
    margin-left: 16px;
    margin-bottom: 32px;
    font-family: Inter Tight;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(250, 250, 250, 0.4);
  }

  .develop-content-icons {
    box-sizing: border-box;
    margin-left: 32px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding-top: 32px;

    align-content: center;
    gap: 6px;
  }
  .develop-content-icons-item {
    display: inline-block;
    align-content: center;
    justify-content: center;
    width: auto;
    height: auto;
    border: 1px solid rgba(28, 29, 32, 0.2);
    padding: 13px 18px 13px 18px;
    gap: 10px;

    font-family: Inter Tight;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #1c1d20;
    opacity: 0px;

    border-radius: 60px;
  }
  .project-number {
    display: none;
  }
  .cross-border-programming {
    box-sizing: border-box;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 96px;
    margin-bottom: 10%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-content: center;

    font-family: Inter Tight;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.03em;
    text-align: left;
    color: rgba(28, 29, 32, 1);
  }
  .see-project-button {
    display: inline-block;
    align-content: center;
    justify-content: center;
    width: auto;
    height: auto;

    padding: 13px 32px 13px 32px;
    gap: 10px;
    border: none;
    background-color: rgba(237, 59, 68, 1);
    color: rgba(250, 250, 250, 1);
    font-family: Inter Tight;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    letter-spacing: -0.02em;
    text-align: left;

    opacity: 0px;

    border-radius: 60px;
    margin-left: 32px;

    margin-bottom: 10%;
  }
  .project-picture-container {
    background-color: rgba(36, 37, 39, 1);
    border: 1px solid rgba(36, 37, 39, 1);
    height: 100%;

    padding-left: 16px;
    padding-right: 16px;
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
  }
  .project-picture {
    width: 100%;
  }
}
/* Для екранів з шириною від 375px до 768px */
@media screen and (min-width: 375px) and (max-width: 768px) {
  .swiping-page {
    border-radius: 3%;
    background-color: rgba(250, 250, 250, 1);
  }

  .projects-title {
    margin-left: 16px;
    margin-bottom: 32px;
    font-family: Inter Tight;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(250, 250, 250, 0.4);
  }

  .develop-content-icons {
    box-sizing: border-box;
    margin-left: 32px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding-top: 32px;

    align-content: center;
    gap: 6px;
  }
  .develop-content-icons-item {
    display: inline-block;
    align-content: center;
    justify-content: center;
    width: auto;
    height: auto;
    border: 1px solid rgba(28, 29, 32, 0.2);
    padding: 13px 18px 13px 18px;
    gap: 10px;

    font-family: Inter Tight;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #1c1d20;
    opacity: 0px;

    border-radius: 60px;
  }
  .project-number {
    display: none;
  }
  .cross-border-programming {
    box-sizing: border-box;
    margin-left: 32px;
    margin-right: 38px;
    margin-top: 96px;
    margin-bottom: 10%;
    padding-right: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-content: center;

    font-family: Inter Tight;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.03em;
    text-align: left;
    color: rgba(28, 29, 32, 1);
  }
  .see-project-button {
    display: inline-block;
    align-content: center;
    justify-content: center;
    width: auto;
    height: auto;

    padding: 13px 32px 13px 32px;
    gap: 10px;
    border: none;
    background-color: rgba(237, 59, 68, 1);
    color: rgba(250, 250, 250, 1);
    font-family: Inter Tight;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    letter-spacing: -0.02em;
    text-align: left;

    opacity: 0px;

    border-radius: 60px;
    margin-left: 32px;

    margin-bottom: 10%;
  }
  .project-picture-container {
    background-color: rgba(36, 37, 39, 1);
    border: 1px solid rgba(36, 37, 39, 1);
    height: 100%;

    padding-left: 16px;
    padding-right: 16px;
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
  }
  .project-picture {
    width: 100%;
  }
}

/* Для планшетів з шириною від 768px */
@media screen and (min-width: 768px) {
  .swiping-page {
    border-radius: 3%;

    padding-top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(250, 250, 250, 1);
    border-radius: 3%;
  }
  .container {
    min-width: 100%;
  }

  .project-interface {
    display: inline-block;
    padding-top: 64px;
  }
  .projects-title {
    margin-left: 32px;
    margin-bottom: 32px;
    font-family: Inter Tight;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(250, 250, 250, 0.4);
  }

  .develop-content-icons {
    width: 312px;
    height: 55px;
    margin-left: 64px;
    display: flex;

    align-content: center;
    gap: 6px;
  }
  .develop-content-icons-item {
    display: inline-block;
    align-content: center;
    justify-content: center;
    width: 80px;
    height: 55px;

    border: 1px solid rgba(28, 29, 32, 0.2);

    font-family: Inter Tight;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #1c1d20;
    opacity: 0px;

    border-radius: 60px;
  }
  .project-number {
    display: none;
  }
  .cross-border-programming {
    box-sizing: border-box;
    margin-left: 64px;
    margin-right: 38px;
    margin-top: 164px;
    margin-bottom: 32px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 494px;

    align-content: center;

    font-family: Inter Tight;
    font-size: 44px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.03em;
    text-align: left;
    color: rgba(28, 29, 32, 1);
  }
  .see-project-button {
    display: inline-block;
    align-content: center;
    justify-content: center;
    width: 177px;
    height: 55px;
    margin-left: 64px;
    padding: 18px 50px 18px 50px;
    gap: 10px;
    border: none;
    background-color: rgba(237, 59, 68, 1);
    color: rgba(250, 250, 250, 1);
    font-family: Inter Tight;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    letter-spacing: -0.02em;
    text-align: center;

    opacity: 0px;

    border-radius: 60px;

    margin-bottom: 64px;
  }
  .project-picture-container {
    display: inline-block;
    background-color: rgba(36, 37, 39, 1);

    height: 625px;
    width: 100%;

    padding-left: 45px;
    padding-right: 45px;
    padding-top: 120px;
    padding-bottom: 120px;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
  }
  .project-picture {
    width: 100%;
  }
  .project-interface,
  .project-picture-container {
    flex: 1;
  }
}

/* Для настільних комп'ютерів з шириною від 1440px */
@media screen and (min-width: 1440px) {
  .container {
    min-width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .swiping-page {
    height: 625px;

    border-radius: 3%;

    padding-top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgba(250, 250, 250, 1);
    border-radius: 3%;
  }
  .project-interface {
    display: inline-block;
    flex-direction: column;
    height: 625px;
  }
  .projects-title {
    width: 284px;
    height: 24px;
    margin-left: 32px;
    margin-bottom: 32px;
    font-family: Inter Tight;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(250, 250, 250, 0.4);
  }

  .develop-content-icons {
    width: 312px;
    height: 55px;
    margin-left: 64px;
    display: flex;

    align-content: center;
    gap: 6px;
  }
  .develop-content-icons-item {
    display: inline-block;
    align-content: center;
    justify-content: center;
    width: 80px;
    height: 55px;
    border: 1px solid rgba(28, 29, 32, 0.2);

    font-family: Inter Tight;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #1c1d20;
    opacity: 0px;

    border-radius: 60px;
  }
  .project-number {
    display: none;
  }
  .cross-border-programming {
    box-sizing: border-box;
    margin-left: 64px;
    margin-right: 38px;
    margin-top: 164px;
    margin-bottom: 32px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 494px;

    align-content: center;

    font-family: Inter Tight;
    font-size: 44px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.03em;
    text-align: left;
    color: rgba(28, 29, 32, 1);
  }
  .see-project-button {
    display: inline-block;
    align-content: center;
    justify-content: center;
    width: 177px;
    height: 55px;
    margin-left: 64px;
    padding: 18px 50px 18px 50px;
    gap: 10px;
    border: none;
    background-color: rgba(237, 59, 68, 1);
    color: rgba(250, 250, 250, 1);
    font-family: Inter Tight;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    letter-spacing: -0.02em;
    text-align: center;

    opacity: 0px;

    border-radius: 60px;

    margin-bottom: 64px;
  }
  .project-picture-container {
    display: inline-block;
    background-color: rgba(36, 37, 39, 1);
    border: 1px solid rgba(36, 37, 39, 1);
    height: 625px;
    width: 688px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 120px;
    padding-bottom: 120px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
    margin: 0;
  }
  .project-interface,
  .project-picture-container {
    flex: 1;
  }
  .project-picture {
    width: 100%;
  }
}
.swiper-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 64px;
  margin-bottom: 96px;
}
.swiper-button-prev {
  width: 68px;
  height: 68px;
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 1);
  background-color: rgba(28, 29, 32, 1);
  color: rgba(250, 250, 250, 1);
}
.swiper-button-next {
  width: 68px;
  height: 68px;
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 1);
  background-color: rgba(28, 29, 32, 1);
  color: rgba(250, 250, 250, 1);
}
