:root {
  --primary-font: 'Inter Tight', sans-serif;
  --logo-font: 'Inter Tight', sans-serif;
  /* Color */
  --primary-txt-clr: #fafafa;
  --primary-bg-clr: #1c1d20;
  --secondarybg-clr: #242527;
  --third-clr: #3b3b3b;
  --primary-clr: #ed3b44;
  --hover-btn-clr: #e0373f;
  --succes-clr: #3cbc81;
  --error-clr: #e74a3b;

  /* Others */
  --border: 1px solid;
  --primary-bor-rad: 24px;

  /* Animation */
  --anim-superfast: 150ms ease-in;
  --anim-fast: 300ms ease-in;
  --anim-slow: 800ms ease;
}

/* Reset styles */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
