/* Для мобільних пристроїв з шириною від 320px до 375px */
@media screen and (min-width: 320px) and (max-width: 375px) {
  .reviews-title-h2 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(250, 250, 250, 0.4);
    margin-bottom: 32px;
  }

  .menu-reviews-list-ul {
    display: flex;

    justify-content: space-between;
    width: 100%;
    margin-bottom: 32px;
    overflow: hidden;
  }

  .menu-reviews-item-li {
    display: flex;
    height: auto;
    flex-direction: column;
    width: 92%;
    flex-shrink: 0;
    border-radius: 20px;
    border: solid 1px rgba(250, 250, 250, 0.2);
  }

  .swiper-slide-reviews {
    flex-shrink: 0;
    position: relative;
    transition-property: transform;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #242527;
    border-radius: 10%;
  }

  .icon-reviews-img {
    width: 48px;
    height: 48px;
    border-radius: 10px;
    margin: 32px auto 32px 24px;
  }

  .reviews-title-h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.4px;
    text-align: left;
    color: #fafafa;
    /* margin-bottom: 8px; */
    padding-left: 24px;
  }
  .reviews-text {
    width: 100%;
    color: rgba(250, 250, 250, 0.6);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
    letter-spacing: -0.02em;
    margin-bottom: 32px;
    padding: 34px 24px;
  }
  .swiper-reviews-button-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
  }

  .round-button {
    background-color: #242527;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(250, 250, 250, 0.2);
  }

  .disabled-button {
    opacity: 0.5;
    pointer-events: none;
  }
}
