.swiper-reviews-wrap.swiper {
  width: 100%;
  height: 100%;
  margin-top: 32px;
}

.swiper-reviews-wrap .swiper-slide {
  width: 100%;
  height: auto;
  border-radius: 20px;
  border: solid 1px rgba(250, 250, 250, 0.2);
  padding: 32px 24px 0 24px;
}

.icon-reviews-img {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  margin-bottom: 32px;
}

.reviews-title-h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.4px;
  text-align: left;
  color: #fafafa;
}

.reviews-text {
  width: 100%;
  color: rgba(250, 250, 250, 0.6);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  letter-spacing: -0.02em;
}

.swiper-reviews-button-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 32px;
  padding: 32px;
  gap: 36px;
}

.swiper-reviews-wrap .swiper-button-prev,
.swiper-reviews-wrap .swiper-button-next {
  position: relative;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
}

.swiper-reviews-wrap .swiper-button-prev::after {
  width: 20px;
  height: 20px;
  display: block;
  justify-content: center;
  text-align: right;
  align-items: right;
  color: transparent;
  text-transform: uppercase;
  transition: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  content: url ('./img/icons.svg#arrow-left');
}
.swiper-reviews-wrap .swiper-button-next::after {
  width: 20px;
  height: 20px;
  display: block;
  color: transparent;

  content: url ('./img/icons.svg#arrow-right');
}
