/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

@import url('./header.css');

@import url('./hero.css');

@import url('./aboutme.css');

@import url('./benefits.css');

@import url('./projects.css');

@import url('./faq.css');

@import url('./covers.css');

@import url('./reviews.css');

@import url('./work-together.css');

@import url('./modal.css');

@import url('./footer.css');

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-font, sans-serif);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--primary-txt-clr);
  background-color:var(--primary-bg-clr);

  margin: 0 auto;
}

.container {
  position: relative;
  padding: 0 32px;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .container{
  padding: 0 16px;
  max-width: 375px;
  }
  section:not(:last-child) {
    margin-bottom: 64px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  section:first-child{
    margin-bottom: 64px;
  }
  section:not(:last-child) {
    margin-bottom: 96px;
  }
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1440px) {
  section:first-child{
    margin-bottom: 96px;
  }
  section:not(:last-child) {
    margin-bottom: 164px;
  }
  .container {
    max-width: 1440px;
  }
}

