.footer{
    position: relative;
}
.container_title{
display: flex;
flex-direction: column;
align-content: center;
margin-bottom: 30px;
font-weight: 500;
font-size: 40px;
line-height: 40px;
letter-spacing: -0.03em;
text-transform: uppercase;

}
.title-text{
font-weight: 500;
font-size: 40px;
line-height: 40px;

letter-spacing: -0.03em;
text-transform: uppercase;

color: #FAFAFA;
}
.nav-img{
    border-radius: 25%;
    width: 44px;
    height: 44px;
    margin-right: 15px;
    }
.footer_form{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    }
    
.title-work{
    color: var(--primary-clr);
}

.header-input{
display: flex;
flex-direction: column;
align-items: flex-start;
color: var( --primary-txt-clr);
padding: 0px;
gap: 20px;
background-color:var(--primary-bg-clr);
margin-right: 50px;
width: 100%;
height: 44px;
border: none;
border-bottom: solid rgba(250, 250, 250, 0.2); 
outline: 0; 
}
.btm-submit{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: var(--primary-txt-clr);
    border: none;
    background:var(--primary-clr);
    margin-top: 30px

}
.contact{
    display: flex;
    flex-wrap: nowrap;
}
.contact-footer{
box-sizing: border-box;
padding:10px 12px 10px 12px;
gap: 10px;
border: 1px solid rgba(250, 250, 250, 0.2);
border-radius: 60px;
font-size: 14px;
flex: none;
order: 0;
flex-grow: 0;
}
.flex{
    display: flex;
   
    }




@media only screen and (min-width: 375px) and (min-width: 768px){
    .worktogether-section{
    display: flex;
    justify-content: center;
    align-items: center;

    }
    .nav-img{
        margin-right: 25px;
        width: 70px;
        height: 70px;
    }
    .btm-submit{
     width: 150px;
    height: 150px;
    margin-top: 0;
    }
    .contact-footer{
    Padding:18px 32px 18px 32px;
    margin-right: 10px;
    font-size: 16px;
    }
    .title-text{
        font-size: 60px;
        line-height: 60px;
    }
    .container_title{
        display: flex;
        flex-wrap: nowrap;
    }
    .flex{
    
    flex-wrap: nowrap;
    }
    .container_title{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    }
    .header-input{
        width: auto;
    }
    .footer_form{
        flex-wrap: nowrap
    }

}

@media only screen and (min-width: 1200px){
    .header-input{
        width: 390px;
    }
}


